export ARTICLE_SOURCES_GH_OWNER=suzuito
export ARTICLE_SOURCES_GH_ACCESS_TOKEN=SetThis
export ARTICLE_HTML_BUCKET=suzuito-minilla-blog-article-html
export DIR_PATH_ARTICLE_HTML=.test-data/article-html
export SITE_ORIGIN=http://localhost:8080
export ADMIN=true
export ADMIN_PASSWORD=hoge
export ENV=dev

# Prod
# export ARTICLE_SOURCES_GH_REPO=sandbox-go-blog-articles
# export ARTICLE_SOURCES_DIR_PATH=articles

# Dev
export ARTICLE_SOURCES_GH_REPO=sandbox-go
export ARTICLE_SOURCES_DIR_PATH=blog/.test-data/article-sources