{{define "component_common_head"}}
<link rel="stylesheet" href="/css/component_header.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="icon" type="image/png" href="/images/favicon.png">
<link rel="stylesheet" href="/css/component_header.css">
<link rel="stylesheet" href="/css/component_footer.css">
<link rel="stylesheet" href="/css/common.css">
<title>{{.Title}}</title>
{{if .Meta}}
<meta name="description" content="{{.Meta.OGP.Description}}">
<meta property="og:title" content="{{.Meta.OGP.Title}}">
<meta property="og:description" content="{{.Meta.OGP.Description}}">
<meta property="og:locale" content="{{.Meta.OGP.Locale}}">
<meta property="og:type" content="{{.Meta.OGP.Type}}">
<meta property="og:url" content="{{.Meta.OGP.URL}}">
<meta property="og:site_name" content="{{.Meta.OGP.SiteName}}">
<meta property="og:image" content="{{.Meta.OGP.Image}}">
<script type="application/ld+json">
    {{.Meta.LDJSON}}
  </script>
{{end}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PDBTC7CTM1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PDBTC7CTM1');
</script>
{{end}}