{{define "component_admin_article_list"}}
<style>
  .component_admin_article_search {
    padding: 6px;
  }
  .component_admin_article_list {
    padding: 6px;
  }

  .component_admin_article_list_article {
    padding-bottom: 24px;
  }

  .component_admin_article_list_article-title {
    font-weight: bold;
  }

  .component_admin_article_list_article-date {
    font-size: 12px;
  }

  .component_admin_article_list_article-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .component_admin_article_list_article-tag {
    padding-right: 6px;
  }
</style>
<div class="component_admin_article_search">
  {{template "component_article_list_search" .}}
</div>
<div class="component_admin_article_list">
  {{range .Articles}}
  <div class="component_admin_article_list_article">
    <div class="component_admin_article_list_article-title">
      <a href="/admin/articles/{{.ID}}">
        {{.Title}}
        {{if eq .Published false}}
        <span>(Draft)</span>
        {{end}}
      </a>
    </div>
    <div class="component_admin_article_list_article-date">
      作成日:{{.CreatedAt.Format "2006-01-02"}}
    </div>
    {{if .PublishedAt}}
    <div class="component_admin_article_list_article-date">
      公開日:{{.PublishedAt.Format "2006-01-02"}}
    </div>
    {{end}}
    <div class="component_admin_article_list_article-tags">
      {{range .Tags}}
      <div class="component_admin_article_list_article-tag">
        <a href="/admin/articles?tag={{.ID}}">
          {{.Name}}
        </a>
      </div>
      {{end}}
    </div>
  </div>
  {{end}}
</div>
{{end}}