<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{template "component_common_head" .}}
</head>

<body>
    <header>
        {{template "component_header" .}}
    </header>
    <div class="content">
        <div>
            <a href=".">管理画面</a>＞ファイル一覧
        </div>
        <main>
            <div>
                <li>
                    <a href="/admin/files/image">画像ファイルをアップロードする</a>
                </li>
            </div>
        </main>
    </div>
    <footer>
        {{template "component_footer"}}
    </footer>
</body>


</html>