<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
{{template "component_common_head" .}}
<link rel="stylesheet" href="/css/page_admin_articles.css">
<body>
    <header>
        {{template "component_header"}}
    </header>
    <main>
        <form method="POST" name="new_articles" action="/admin/articles">
          <a href="javascript:new_articles.submit()">記事を新規作成</a>
        </form>
        {{template "component_admin_article_list" .}}
    </main>
    <footer>
        {{template "component_footer"}}
    </footer>
</body>

</html>