<!DOCTYPE html>
<html lang="ja">
<meta name="robots" content="noindex">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
{{template "component_common_head" .}}

<body>
    <header>
        {{template "component_header" .}}
    </header>
    <main>
        <div class="content" style="padding: 6px;">
            <div>
                <a href="/articles">記事一覧</a>
            </div>
            <div>
                <a href="https://github.com/suzuito" target="_blank">About</a>
            </div>
        </div>
    </main>
    <footer>
        {{template "component_footer"}}
    </footer>
</body>

</html>