<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{template "component_common_head" .}}
</head>

<body>
    <header>
        {{template "component_header" .}}
    </header>
    <div class="content">
        <div>
            <a href="..">管理画面</a>＞<a href=".">ファイル一覧</a>＞画像ファイルのアップロード
        </div>
        <main>
            <div>
                <form method="POST" enctype="multipart/form-data" action="/admin/files/image">
                    <input type="file" accept="image/jpeg" name="inputImage" />
                    <input type="submit" value="画像をアップロードする(jpgのみ)" />
                </form>
            </div>
        </main>
    </div>
    <footer>
        {{template "component_footer"}}
    </footer>
</body>


</html>