<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{template "component_common_head" .}}
    <style>
        main {
            padding: 6px;
        }
    </style>
</head>

<body>
    <header>
        {{template "component_header" .}}
    </header>
    <main>
        <div>
            <a href=".">管理画面トップへ</a>
        </div>
        <div>
            <li>
                <a href="/admin/files/image">画像ファイルをアップロードする</a>
            </li>
        </div>
    </main>
    <footer>
        {{template "component_footer"}}
    </footer>
</body>


</html>