<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
{{template "component_common_head" .}}
<style>
    .page_admin_top-nav {
        padding: 6px;
    }
</style>

<body>
    <header>
        {{template "component_header" .}}
    </header>
    <main>
        <div class="page_admin_top-nav">
            <li>
                <a href="/admin/articles">記事一覧</a>
            </li>
        </div>
    </main>
    <footer>
        {{template "component_footer"}}
    </footer>
</body>

</html>