<!DOCTYPE html>
<html lang="ja">
<meta name="robots" content="noindex">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
{{template "component_common_head" .}}

<body>
    <header>
        {{template "component_header" .}}
    </header>
    <div class="content">
        <div>
            管理画面
        </div>
        <main>
            <div>
                <li>
                    <a href="/admin/articles">記事一覧</a>
                </li>
            </div>
        </main>
    </div>
    <footer>
        {{template "component_footer"}}
    </footer>
</body>

</html>