<!DOCTYPE html>
<html lang="ja">
<meta name="robots" content="noindex">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
{{template "component_common_head" .}}
<body>
    <header>
        {{template "component_header" .}}
    </header>
    <div class="content">
        <div>
            <a href=".">管理画面</a>＞記事一覧
        </div>
        <main>
            <form method="POST" name="new_articles" action="/admin/articles">
              <a href="javascript:new_articles.submit()">記事を新規作成</a>
            </form>
            {{template "component_admin_article_list" .}}
            {{template "component_article_list_pager" .}}
        </main>
    </div>
    <footer>
        {{template "component_footer"}}
    </footer>
</body>

</html>