export ENV=dev
export ADMIN_TOKEN=hoge
export ARTICLE_MARKDOWN_BUCKET=suzuito-minilla-asia-northeast1-blog2-article-markdown
export ARTICLE_FILE_UPLOADED_BUCKET=suzuito-minilla-asia-northeast1-blog2-article-file-uploaded
export ARTICLE_FILE_BUCKET=suzuito-minilla-blog2-article-file
export FUNCTION_TRIGGER_TOPIC_ID_START_FILE_UPLOADED_PROCESS=gcf-start-file-uploaded-process
export DB_USER=root