export ENV=dev
export ADMIN_TOKEN=hoge
export ARTICLE_MARKDOWN_BUCKET=suzuito-minilla-asia-northeast1-blog2-article-markdown
export FILE_UPLOADED_BUCKET=suzuito-minilla-asia-northeast1-blog2-file-uploaded
export FILE_BUCKET=suzuito-minilla-blog2-file
export FUNCTION_TRIGGER_TOPIC_ID_START_FILE_UPLOADED_PROCESS=gcf-StartFileUploadedProcess
export DB_USER=root