export ENV=dev
export ADMIN_TOKEN=hoge
export ARTICLE_MARKDOWN_BUCKET=blog-stg-blog2-article-markdown
export FILE_BUCKET=blog-stg-blog2-file
export FILE_THUMBNAIL_BUCKET=blog-stg-blog2-file-thumbnail
export DB_USER=root
export DB_NAME=blog2-dev
export BASE_URL_FILE=https://storage.googleapis.com/blog-stg-blog2-file
export BASE_URL_FILE_THUMBNAIL=https://storage.googleapis.com/blog-stg-blog2-file-thumbnail
export SITE_ORIGIN=http://localhost:8080
export GOOGLE_TAG_MANAGER_ID=G-GDYRQ0WRVJ