<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
{{template "admin__common_head"}}
<link rel="stylesheet" href="/css/admin_import.css">

<body>
    <div>
        {{template "admin__header" .Header}}
    </div>
    <div>
        Are you sure that this article is imported?
    </div>
    <div>
        {{.ArticleSourceID}}
    </div>
    <div>
        {{template "admin__article" .Article}}
    </div>
    <div>
        <form method="post" action="/admin/import/{{$.ArticleSourceID}}/{{$.Version}}">
            <input type="submit" value="OK"/>
        </form>
    </div>
    <div>
        {{.ArticleHTML}}
    </div>
</body>

</html>