{{define "admin__article"}}
<table>
    <tr>
        <td>ID</td>
        <td>{{.ID}}</td>
    </tr>
    <tr>
        <td>Version</td>
        <td>v{{.Version}}</td>
    </tr>
    <tr>
        <td>Title</td>
        <td>{{.Title}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{.Description}}</td>
    </tr>
    <tr>
        <td>Tags</td>
        <td>{{.Tags}}</td>
    </tr>
    <tr>
        <td>ArticleSource</td>
        <td>
            <a target="_brank" href="{{.ArticleSource.Meta.URL}}">
                {{.ArticleSource.ID}}:{{.ArticleSource.Version}}
            </a>
        </td>
    </tr>
</table>
{{end}}