<!DOCTYPE html>
<html lang="ja">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
{{template "pc__common_head" .}}
<link rel="stylesheet" href="/css/pc_article.css">

<body>
    <div class="pc__header">
        {{template "pc__header" .Header}}
    </div>
    <div class="pc__content">
        <div class="pc_article-date">
            {{.Article.DateString}}
        </div>
        <div class="pc_article-tags">
            {{range .Article.Tags}}
            <div class="pc_article-tag">
                <a href="/tags/{{.ID}}/articles">
                    {{.ID}}
                </a>
            </div>
            {{end}}
        </div>
        <div class="pc_article-article">
            {{.ArticleHTML}}
        </div>
    </div>
    <div class="pc__footer">
        {{template "pc__footer"}}
    </div>
</body>

</html>