export GO_VILLAGE_DISCORD_BOT_TOKEN=yyy
export GO_VILLAGE_DISCORD_CHANNEL_ID_NEWS=994062861427036210
export GO_VILLAGE_DISCORD_CHANNEL_ID_EVENTS=994062861427036210
export FIRESTORE_EMULATOR_HOST="localhost:8081"
export ENV=dev