export ENV=local
export PORT=8082
export AUTH0_DOMAIN=photodx-studio.jp.auth0.com
export AUTH0_AUDIENCE=https://photodx-studio.jp.auth0.com/api/v2/
export LOG_LEVEL=DEBUG
export DB_NAME=photodx
export DB_USER=root
export CORS_ALLOW_ORIGINS=http://localhost:8081
export CORS_ALLOW_METHODS=GET
export CORS_ALLOW_HEADERS=Authorization
export JWT_ACCESS_TOKEN_SIGNING_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIJQwIBADANBgkqhkiG9w0BAQEFAASCCS0wggkpAgEAAoICAQCp7p5hsYqTpxm4
1zcjSTIPohr6T0Iiefaw3LbhmV+EIRBUa9p63elWX1N5Jg3EWNO6A5rSyGpbC6wK
ZfKOYZCrIwoNK2vHD4Xzta6xcTUnWsxmVKOWy72/Li+/uVJ8kt5F/+9w7oQ4xcDN
aB7CbOfo5xRxqe6WLR2B0H7bMXBc+PW3PRat/4HlqCK1xVcXi7EwXQkZwZ/YA37u
90zTmkNCTipM6Csj7XczuxvJmlJsIwswPZWzVOOBJegwgbzOEoyL8cCgWGK0LEeA
KxHhQrgCOVKAt412QWs+D9JYeArouuNCJQ7tKLCcXWHvUDWYX1sDhVkEcFwNge7V
C9UAtsm850bLmVcB76grielh9JS8Xk0yRL/Ms2neFT6ruyLLxJnl9BYXV+/yImZJ
fiV3xgdj+gPWDyY7B0NTinb3kgb5IeSYnNN2mm0QvTc5VQk5GjmJrWYYtYmiYqyp
YnHJL4MQIGVzKVKYWj0r/+8YXHFP14sYvY2oDQcacJNdjD5F9LiQLOrY+Jph4/Dk
GWklRPCAsyXRWqsSfCngJ2UFL2W1VPL3bXv8trJOC/18q4USKlsKT9ZMsMa1lUCN
iqbeoCks7HNIhtZor9Tvye34f8K12UhYRraTYn+qlEaaLbvW30o5YjStRyRZ1rHT
cu7LUrh2LmijrKL5cVNMIwPJb9E8RQIDAQABAoICAACXdEAKfQfa5ukwqqBPUsLL
gYTfPhozoCsTzE6IblTd7pofTqvrK4hMSFSdes0fsrZXk97pqWEhbxsRfsuFxcSq
wxAHrNY3v3N5QvSa3HYDcr8PyrVYMT7B+5LoeMPhQ6/Xs8Q0uGDK43XI8oPNGu5B
0Qg88LffdqurMlMzXrJG1Z1/3h0t92GkI7bL9evUOyzcGLouZTmRzYvUcD/eWMnu
zrvkz7L40oJAw63V1oqfgUb3jUFfaXQGJ0L1TgHOU7nwVgeDjJhsUmASW6YT9Dhh
wwqarlM76BKCaJeRQhchq2/hWXt0OaUvDWERakEFDU07q3MrVvlfEJn3nWllZC9o
N0s6BYcddsLLxmXSTg/W2LXx9D1mN5TiyoI243VxHaeZqPbawM+rm1UgIObv6/G5
Z4IfBZ7fqbEx/BnIQ2515S4n2NA1WtYKJbzEz1BkPC/coK4zhJd5YVPH2d8Zyjss
2KfcGkqJQ2CZz6X4KJPQoNylSZg36RDTQ6yLeAZwWg074QQn+tniizesX92t89TR
pCsMtSYcZ7ERYNhCNL75RYyTXL0Jth1o92fZ58gbvKazEpjVvDDaFF0J+A5zgp4P
1BNUNuQY7l3QrzcjQK/zFLh6rMMfujxCaxKtmSzFcspDrrRy8hJ3+8jAvjQueZt5
cYEEneUgKLexbVLoq9PDAoIBAQDsqeGq7OBFpF4I2BW1967CFS5FRv6x3KgHcAeL
+Usr4QFP2kBw2VXwi4Yo5y9EuKZlT8m4LeIaxfUdyfnPOREPqrMJgGQXwLUxClRB
f6qupI85KT5Fe/znLofiG8EWezIA45HqQZ86fw7hf33E7gCaX/TxtJyXfFROa9h2
kIw8kqZLnzuW++hR1/QHdT1MhDBDukaDdYbXGB13aXWTeiKqROpb4cMWrT6Sh67L
OeCQIBPf7/jrMT4ilD1yxGK7ric6oumR2VhV3nJmA63jputu7ZuOe2bKhg9y56A3
/Y5WCau1k4hnAbHUVzZf0A5V2UXR93aRejsI88tpr4sosR1nAoIBAQC30Paqz1S5
TQBTyKJpAX8InxkhfCXxfcMBlWn0z78oOm1bmzEqaJnbFZf+QiLt5jtpzpLB2Txe
fAg0/gkiHs/0taHaC2PaU0cu7Tj8QbXSV7im3d0FIsk7A6dg78xDqvgHYysB74gd
yF08E3kmI8iOgEpWVKTKrmnCmW28ltQJgLLLIs9QaDXO8ZyQ4VUxod12Wn+Su3PV
6QZ9N57iyYZOFyDNjo5kMi19aCvGJuaYcXNJm0ICJGwcmXrqthFqeyDeufENDSt6
ioCy+yJBDMp9DODtcRF9lESQor+chfTPTraoXO3qlWHSkqJ3liCk2IOEq7/zbRma
GnrDyC3T22FzAoIBAQCs/ezABVBWd7Ro4JLWJYtvwQ3GhAOuvW1xqllJ3tss4tcT
qKSMGMGyCDrz8TFjGVpAGheIcrmg+myW7smUyNEI06z1WA1SM4H+q9801X5NFGrA
zL4BCoWt8xxOkh0NMtY1QiOpyXf7yV52RLwJVDPKpDOm7m+8Z5w0iq561GQ97rBx
/J4RWmfSU3nEbdV19fZVu3bJpwH+flkjrUnNmGx4a9GnghoZnF9tupJxaQgWMex1
N7OLL76MhjF4j8bgC4gPW4BCJU5lzilvGmdkTeIwfqzDdL6JcX8fbeJ2qvf9Oipy
mroNGXcEkQ9k7+9an2xi83GPG3rFq3dX9IJTJ0wnAoIBABveQoeDB4VQd0w8juL8
pxXXiSfaeqYyOu5yiK3lEUY4FXxd+wZC9ZCRpYmW3VTUIw3Xk8hv9wccJuJh4WCa
60xefTthnrHrDk+/B3S3QamyQvyJhojQzVF1LFs1//ICabg1AMA6YJijV/9TtHpj
0nRIXvzXuGRCLSajvE9rTppiOLkzfdri8cV+PA57Gz97GuhmsBC++sDjo2g4lo4r
n4EXYJHJmyz1ro/kyz4vh6Z1DNWMBGXuv7VWT5xmHh3WrRUXe8ROyti5RunbyUWz
er+axD87dTtkz0BebE5+wK7tcCP2ctut6jbSpG8dA7X6XXYv09pEIC2M9i/YmZoV
GKECggEBALcf8N8eU60zQ8jRvC2l32tFLpZrFaYGiYRKjtmiXsyDCfC7Zvs25kmU
TFD4cQ7Kn72CZulh5AZl1u8nGNgNtbI/kB8wlFp6JXMSfpfVlWnxTae7p5vOG566
iDHNQIt+QDDuHNjzN/tasycvUUx84mks1htJ+tQvDGcE0fia+ODJftOSPUYlhNVo
+9ry6UgETNOegycAC0vp7D0QmutRmUmWiYTix8b+MKVFmevmbs6nSfSpXwXu+OYc
44R0v2ntzmJsRpavwBs+sokYJtUu4YNvA/OefCMTKzamTf12QDB+e725YxXSRK0m
BsuidkOxHphtQoOwaRv9ScDuSWQh0/w=
-----END PRIVATE KEY-----"
export JWT_ACCESS_TOKEN_SIGNING_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAqe6eYbGKk6cZuNc3I0ky
D6Ia+k9CInn2sNy24ZlfhCEQVGvaet3pVl9TeSYNxFjTugOa0shqWwusCmXyjmGQ
qyMKDStrxw+F87WusXE1J1rMZlSjlsu9vy4vv7lSfJLeRf/vcO6EOMXAzWgewmzn
6OcUcanuli0dgdB+2zFwXPj1tz0Wrf+B5agitcVXF4uxMF0JGcGf2AN+7vdM05pD
Qk4qTOgrI+13M7sbyZpSbCMLMD2Vs1TjgSXoMIG8zhKMi/HAoFhitCxHgCsR4UK4
AjlSgLeNdkFrPg/SWHgK6LrjQiUO7SiwnF1h71A1mF9bA4VZBHBcDYHu1QvVALbJ
vOdGy5lXAe+oK4npYfSUvF5NMkS/zLNp3hU+q7siy8SZ5fQWF1fv8iJmSX4ld8YH
Y/oD1g8mOwdDU4p295IG+SHkmJzTdpptEL03OVUJORo5ia1mGLWJomKsqWJxyS+D
ECBlcylSmFo9K//vGFxxT9eLGL2NqA0HGnCTXYw+RfS4kCzq2PiaYePw5BlpJUTw
gLMl0VqrEnwp4CdlBS9ltVTy9217/LayTgv9fKuFEipbCk/WTLDGtZVAjYqm3qAp
LOxzSIbWaK/U78nt+H/CtdlIWEa2k2J/qpRGmi271t9KOWI0rUckWdax03Luy1K4
di5oo6yi+XFTTCMDyW/RPEUCAwEAAQ==
-----END PUBLIC KEY-----"
export JWT_REFRESH_TOKEN_SIGNING_PRIVATE_KEY=0e97670903ba8746cab9bdc58465b159