export ENV=local
export PORT=8082
export AUTH0_DOMAIN=photodx-studio.jp.auth0.com
export AUTH0_AUDIENCE=https://photodx-studio.jp.auth0.com/api/v2/
export LOG_LEVEL=DEBUG
export CORS_ALLOW_ORIGINS=http://localhost:8081
export CORS_ALLOW_METHODS=GET
export CORS_ALLOW_HEADERS=Authorization