export ENV=local
export PORT=8082
export LOG_LEVEL=DEBUG
export DB_NAME=photodx
export DB_USER=root
export CORS_ALLOW_ORIGINS=http://localhost:8081,http://localhost:8080
export CORS_ALLOW_METHODS=GET,POST,PUT,DELETE
export CORS_ALLOW_HEADERS=Authorization
export JWT_ADMIN_ACCESS_TOKEN_SIGNING_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIJQwIBADANBgkqhkiG9w0BAQEFAASCCS0wggkpAgEAAoICAQCp7p5hsYqTpxm4
1zcjSTIPohr6T0Iiefaw3LbhmV+EIRBUa9p63elWX1N5Jg3EWNO6A5rSyGpbC6wK
ZfKOYZCrIwoNK2vHD4Xzta6xcTUnWsxmVKOWy72/Li+/uVJ8kt5F/+9w7oQ4xcDN
aB7CbOfo5xRxqe6WLR2B0H7bMXBc+PW3PRat/4HlqCK1xVcXi7EwXQkZwZ/YA37u
90zTmkNCTipM6Csj7XczuxvJmlJsIwswPZWzVOOBJegwgbzOEoyL8cCgWGK0LEeA
KxHhQrgCOVKAt412QWs+D9JYeArouuNCJQ7tKLCcXWHvUDWYX1sDhVkEcFwNge7V
C9UAtsm850bLmVcB76grielh9JS8Xk0yRL/Ms2neFT6ruyLLxJnl9BYXV+/yImZJ
fiV3xgdj+gPWDyY7B0NTinb3kgb5IeSYnNN2mm0QvTc5VQk5GjmJrWYYtYmiYqyp
YnHJL4MQIGVzKVKYWj0r/+8YXHFP14sYvY2oDQcacJNdjD5F9LiQLOrY+Jph4/Dk
GWklRPCAsyXRWqsSfCngJ2UFL2W1VPL3bXv8trJOC/18q4USKlsKT9ZMsMa1lUCN
iqbeoCks7HNIhtZor9Tvye34f8K12UhYRraTYn+qlEaaLbvW30o5YjStRyRZ1rHT
cu7LUrh2LmijrKL5cVNMIwPJb9E8RQIDAQABAoICAACXdEAKfQfa5ukwqqBPUsLL
gYTfPhozoCsTzE6IblTd7pofTqvrK4hMSFSdes0fsrZXk97pqWEhbxsRfsuFxcSq
wxAHrNY3v3N5QvSa3HYDcr8PyrVYMT7B+5LoeMPhQ6/Xs8Q0uGDK43XI8oPNGu5B
0Qg88LffdqurMlMzXrJG1Z1/3h0t92GkI7bL9evUOyzcGLouZTmRzYvUcD/eWMnu
zrvkz7L40oJAw63V1oqfgUb3jUFfaXQGJ0L1TgHOU7nwVgeDjJhsUmASW6YT9Dhh
wwqarlM76BKCaJeRQhchq2/hWXt0OaUvDWERakEFDU07q3MrVvlfEJn3nWllZC9o
N0s6BYcddsLLxmXSTg/W2LXx9D1mN5TiyoI243VxHaeZqPbawM+rm1UgIObv6/G5
Z4IfBZ7fqbEx/BnIQ2515S4n2NA1WtYKJbzEz1BkPC/coK4zhJd5YVPH2d8Zyjss
2KfcGkqJQ2CZz6X4KJPQoNylSZg36RDTQ6yLeAZwWg074QQn+tniizesX92t89TR
pCsMtSYcZ7ERYNhCNL75RYyTXL0Jth1o92fZ58gbvKazEpjVvDDaFF0J+A5zgp4P
1BNUNuQY7l3QrzcjQK/zFLh6rMMfujxCaxKtmSzFcspDrrRy8hJ3+8jAvjQueZt5
cYEEneUgKLexbVLoq9PDAoIBAQDsqeGq7OBFpF4I2BW1967CFS5FRv6x3KgHcAeL
+Usr4QFP2kBw2VXwi4Yo5y9EuKZlT8m4LeIaxfUdyfnPOREPqrMJgGQXwLUxClRB
f6qupI85KT5Fe/znLofiG8EWezIA45HqQZ86fw7hf33E7gCaX/TxtJyXfFROa9h2
kIw8kqZLnzuW++hR1/QHdT1MhDBDukaDdYbXGB13aXWTeiKqROpb4cMWrT6Sh67L
OeCQIBPf7/jrMT4ilD1yxGK7ric6oumR2VhV3nJmA63jputu7ZuOe2bKhg9y56A3
/Y5WCau1k4hnAbHUVzZf0A5V2UXR93aRejsI88tpr4sosR1nAoIBAQC30Paqz1S5
TQBTyKJpAX8InxkhfCXxfcMBlWn0z78oOm1bmzEqaJnbFZf+QiLt5jtpzpLB2Txe
fAg0/gkiHs/0taHaC2PaU0cu7Tj8QbXSV7im3d0FIsk7A6dg78xDqvgHYysB74gd
yF08E3kmI8iOgEpWVKTKrmnCmW28ltQJgLLLIs9QaDXO8ZyQ4VUxod12Wn+Su3PV
6QZ9N57iyYZOFyDNjo5kMi19aCvGJuaYcXNJm0ICJGwcmXrqthFqeyDeufENDSt6
ioCy+yJBDMp9DODtcRF9lESQor+chfTPTraoXO3qlWHSkqJ3liCk2IOEq7/zbRma
GnrDyC3T22FzAoIBAQCs/ezABVBWd7Ro4JLWJYtvwQ3GhAOuvW1xqllJ3tss4tcT
qKSMGMGyCDrz8TFjGVpAGheIcrmg+myW7smUyNEI06z1WA1SM4H+q9801X5NFGrA
zL4BCoWt8xxOkh0NMtY1QiOpyXf7yV52RLwJVDPKpDOm7m+8Z5w0iq561GQ97rBx
/J4RWmfSU3nEbdV19fZVu3bJpwH+flkjrUnNmGx4a9GnghoZnF9tupJxaQgWMex1
N7OLL76MhjF4j8bgC4gPW4BCJU5lzilvGmdkTeIwfqzDdL6JcX8fbeJ2qvf9Oipy
mroNGXcEkQ9k7+9an2xi83GPG3rFq3dX9IJTJ0wnAoIBABveQoeDB4VQd0w8juL8
pxXXiSfaeqYyOu5yiK3lEUY4FXxd+wZC9ZCRpYmW3VTUIw3Xk8hv9wccJuJh4WCa
60xefTthnrHrDk+/B3S3QamyQvyJhojQzVF1LFs1//ICabg1AMA6YJijV/9TtHpj
0nRIXvzXuGRCLSajvE9rTppiOLkzfdri8cV+PA57Gz97GuhmsBC++sDjo2g4lo4r
n4EXYJHJmyz1ro/kyz4vh6Z1DNWMBGXuv7VWT5xmHh3WrRUXe8ROyti5RunbyUWz
er+axD87dTtkz0BebE5+wK7tcCP2ctut6jbSpG8dA7X6XXYv09pEIC2M9i/YmZoV
GKECggEBALcf8N8eU60zQ8jRvC2l32tFLpZrFaYGiYRKjtmiXsyDCfC7Zvs25kmU
TFD4cQ7Kn72CZulh5AZl1u8nGNgNtbI/kB8wlFp6JXMSfpfVlWnxTae7p5vOG566
iDHNQIt+QDDuHNjzN/tasycvUUx84mks1htJ+tQvDGcE0fia+ODJftOSPUYlhNVo
+9ry6UgETNOegycAC0vp7D0QmutRmUmWiYTix8b+MKVFmevmbs6nSfSpXwXu+OYc
44R0v2ntzmJsRpavwBs+sokYJtUu4YNvA/OefCMTKzamTf12QDB+e725YxXSRK0m
BsuidkOxHphtQoOwaRv9ScDuSWQh0/w=
-----END PRIVATE KEY-----"
export JWT_ADMIN_ACCESS_TOKEN_SIGNING_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAqe6eYbGKk6cZuNc3I0ky
D6Ia+k9CInn2sNy24ZlfhCEQVGvaet3pVl9TeSYNxFjTugOa0shqWwusCmXyjmGQ
qyMKDStrxw+F87WusXE1J1rMZlSjlsu9vy4vv7lSfJLeRf/vcO6EOMXAzWgewmzn
6OcUcanuli0dgdB+2zFwXPj1tz0Wrf+B5agitcVXF4uxMF0JGcGf2AN+7vdM05pD
Qk4qTOgrI+13M7sbyZpSbCMLMD2Vs1TjgSXoMIG8zhKMi/HAoFhitCxHgCsR4UK4
AjlSgLeNdkFrPg/SWHgK6LrjQiUO7SiwnF1h71A1mF9bA4VZBHBcDYHu1QvVALbJ
vOdGy5lXAe+oK4npYfSUvF5NMkS/zLNp3hU+q7siy8SZ5fQWF1fv8iJmSX4ld8YH
Y/oD1g8mOwdDU4p295IG+SHkmJzTdpptEL03OVUJORo5ia1mGLWJomKsqWJxyS+D
ECBlcylSmFo9K//vGFxxT9eLGL2NqA0HGnCTXYw+RfS4kCzq2PiaYePw5BlpJUTw
gLMl0VqrEnwp4CdlBS9ltVTy9217/LayTgv9fKuFEipbCk/WTLDGtZVAjYqm3qAp
LOxzSIbWaK/U78nt+H/CtdlIWEa2k2J/qpRGmi271t9KOWI0rUckWdax03Luy1K4
di5oo6yi+XFTTCMDyW/RPEUCAwEAAQ==
-----END PUBLIC KEY-----"
export JWT_ADMIN_REFRESH_TOKEN_SIGNING_PRIVATE_KEY=0e97670903ba8746cab9bdc58465b159


export JWT_USER_ACCESS_TOKEN_SIGNING_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIJQwIBADANBgkqhkiG9w0BAQEFAASCCS0wggkpAgEAAoICAQCqUZnfE+ZhVDvi
mYHDBDkcWj7u8mwo4DFEEuhVIs5o7l0K2m/NbNGGB0/7hfwWQg1ZvknQBFpn67u6
euGEYaHvt2Ed9z605/7BctaLGCWKaqIm4vUFTua/v/QFQbzAXfK0szEYpIWDtwOE
IkBsIYkOuT5FNtjAPbb/JNNIDDqOeApw0yXGRC+S6uPkhn5vO8naqVTkAlzLVyWv
Mokd5n9YnkOP0O1Vt4jy20bf4D6XCn6nTnFUPA5U981Y193pevcmed7dr6/rNlLP
i+ILvfCM/dgSCyglHHW/6mmyp0FzQAtKeIVzVoJwM15HRYOEAmB/RclA3sxoxbeV
1WgzPEh2d9GSO8uxHHWJXnQvdgZD5wnr/tKQz03nL5WIvTmA6M1fadmfj7Y7cx/W
aplwOTSFx7LSWGQB7Zogz/odij4RcSlPbKB/7PI34NyPWIoUX5SjleoYj7tCTaGA
/T/VAROFTrXXBugKQX9jjDE9/jxFWmv8MoZl3XsQwNxR/xdPciG6ppQWw3XZf6iQ
hAt+LICGh/55L+pvGtKvaNCdOJhPlproMUuKXrDOU2OXRej794Or4meL/SioXjzg
wanFimSNnThwk7e5Ih1hsQ8HAem2gsz8jWdYI6Cf9W3Siwbv/ZfvQ7iDXGLvWbcL
NZoIaSF7weHCldxj3bRZkYEHxQikkQIDAQABAoICAAjwYr9Cw1S4iPvNayklUM91
foWoIyD28HOS+1OptjZY8FQwSFJV3NUINDfzD8iBRx8aCUZucupBO7m/oAG7eBGu
tpQ7r/19HQ0GSZgySpj3ZVe4/43XH+31J8njILkrp2lLxzNiZpKoO9WnB2nXu1BJ
lfIoKrKM2F79Dd8shtjQ86LCbtAJnWZzPfzkAME2gVNp/VCJ9KHWnSbudiRIY32l
1fITBpeLUvNgGGxA4jgVCm0ePA93XgYOCyep6L7wP7zquvo4VkKKbtrvVOehSjRr
B695CSVI6ZsvNQ312bud2hnakVcPI10ECJozcCZn5dETqO8wBu1v8ooUtlmLxRDn
nt6xr5JABaB3/pTOQhOIDepXGqwLxAiSI5mvn4z4PJ9YRbhB+Bh1fvtRszkmgZ11
SoHrQtcqEmxn11XngQPGJSKnrSiXo7OVjUAA2iVTr6vMvYBNxxCOyVMBXc22ynsD
weJ7Lpz92EqEcoxgo2yeZ2RQ0tkE+b5DcLL1EI/M5FvFrCfeWFtR0m0ZiaXSJqW2
wtB0i8vWDuiiuB77mdowrovfvdUG5kizAZiGp/ho1tN3DGOTyGhhNlHxinvqOkhO
+P7FBwYIbFH68zQT9UlhEUQoHgk/m805DiqzCFmVz1pfFuDjAE0I7/VNb8MsMy4E
baeSylbbpTuA5witSWXTAoIBAQDSrJ3JQHo2QpcfWtL+SXB7n44y6AGpHklNQ7LV
2akyJTgF4+3rhyvlfmUr0Z8SDhhhjE4KuP3NjR+R6qq0Nx99Sya5DFofNtXtO5FU
HpxgtXR2tpfXOzF36AGI6VA8YmsT9zl4Zaqr7V/14+tyLA7rQn84pEqzBO2lD/hm
vkYNM/HIpfCtrDQT9Q8DHvT/OAG9dGMweSjNDcMGFF0vizkuHrEgFkAk/VDbuTOY
31HPkVsUOo5+uxroRDUpLG8cXckcxPHHXl8J+K4gsOas+fLX+rKS08iMsMpFL6LJ
WOkpGoPAHscHDp+7X66fqcBL/gpN0PbLn0vHb5QoXB9fkv2rAoIBAQDO9k8FJ5FT
WVyQ6/ncBnW1BZMMEMVv6lJwrIKvEFqMryYxCAhOsIUj2UEtys984quNT9hSRLpd
VZfs6DUnZErSWyrmgsU39t1Q1AtsHy3WQaaxwu4BcqY9qLxMuxV5AG8jNO+Bd418
tlKzVCf3eE+En2UiDPdSTBb5XOd4Ir9WkvIaJCcURDVxkWHEzxbpBU+oV/3V6kYm
WldQ8GGiCTz8KqqQ60Y0gAL6MVZ9MUlXcIk4II6V+W92obPBdL/+O+kd0aiSLHUt
x8xHqoMgQ3E4FRoRS0KowhtiJr0/WFDkwxHMIxCOQGN+byOT4Fy+TGNYy/0gzDMW
xFZguzCegdKzAoIBAD0TvkryXnwMojN86V6/e9TbVSZ9DL4zAZ1c2yQUjnDzSWKr
yfZWoetO0ZX6l9tsKrVdL+L77tkA6P4swoCs2nxApWFQq3ARPcQhWOjCVyPSd4lT
NoI3rwfMQ2Wl/pUDE3geXJMDJo/hqchn44KeM1URWkDZoK5150/LaYCf+T8qqBY7
xaMUIaUHjuqgtvanDhoW/Aq5lZKdQsUocjuuaU1tqHxc9wvCRQbukn7nf5hl07nx
oA4twIdF/wOI1k2rAvtMPaxHN9Z0OkdQAhB0BmuHSu42aBYhywJz5QXquO4pubih
M6JgIv73pnCzjgR6ChK1Wld+P0H6n0F0M8RJoTECggEBALGkANdvyvE7tpQ9t8z/
TnD+Q+ULUCxreC92IwWYh+BRRfq35kmEggLvK17ewZF0DcPRUN/sVfpeyXRzK4yQ
LRi5X+1TOWx73CLQnq1DZdiNqULTCe78NWyfNGC4BApEMSCLAzihITR2Wi3KgjOL
dNVk6y16654b6WxILfWT/Z+VqXB+r3xZv3WnT7/Z8NQ51tGsFRhTabrpuCCk82hd
fZcEGDsjdrMBXYzaZF44u7btxRoD998Kpn2w9dWLHHBfhAwwNPyiZEHTSKgK11oO
CVQV6LYHX0PyuAZbMfz5FRYFyXTqc/9ljQCs7GC1J2W/s1Y4YSCRpRhZlbqZcXXc
ALkCggEBAINiCqxIyq2lFvsmLtlVGFMnpbjhuIe40KnHyzU4HHNXRRhHIPjP1vg5
r6P7jaEyqgUZtSTDCfJbitKIQUQrVdeVPKl0FaOtBlIyCF9ghU90e1pEBZTWUJ7R
ZE5ypoIWBZ+KClX2SmN7hJ2s0g0mpxXrNQnYphBoSs/VVzFiUo0Q/xgzW7kcamBV
1/FgmiDawXMJzfd7sLlhw4AMaNUjQN0/YodEyRmQMC5Veakt0DgX1iih17NAdrN9
ILXWFaEUsqkznAgU/aSCeqsppw8e81ckQcEUWRKkKcaZmydUpI+oizdSGylI0iks
eTpogc0ec4XHNFbLfRCZwSxxDbY0FCw=
-----END PRIVATE KEY-----"
export JWT_USER_ACCESS_TOKEN_SIGNING_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAqlGZ3xPmYVQ74pmBwwQ5
HFo+7vJsKOAxRBLoVSLOaO5dCtpvzWzRhgdP+4X8FkINWb5J0ARaZ+u7unrhhGGh
77dhHfc+tOf+wXLWixglimqiJuL1BU7mv7/0BUG8wF3ytLMxGKSFg7cDhCJAbCGJ
Drk+RTbYwD22/yTTSAw6jngKcNMlxkQvkurj5IZ+bzvJ2qlU5AJcy1clrzKJHeZ/
WJ5Dj9DtVbeI8ttG3+A+lwp+p05xVDwOVPfNWNfd6Xr3Jnne3a+v6zZSz4viC73w
jP3YEgsoJRx1v+ppsqdBc0ALSniFc1aCcDNeR0WDhAJgf0XJQN7MaMW3ldVoMzxI
dnfRkjvLsRx1iV50L3YGQ+cJ6/7SkM9N5y+ViL05gOjNX2nZn4+2O3Mf1mqZcDk0
hcey0lhkAe2aIM/6HYo+EXEpT2ygf+zyN+Dcj1iKFF+Uo5XqGI+7Qk2hgP0/1QET
hU611wboCkF/Y4wxPf48RVpr/DKGZd17EMDcUf8XT3IhuqaUFsN12X+okIQLfiyA
hof+eS/qbxrSr2jQnTiYT5aa6DFLil6wzlNjl0Xo+/eDq+Jni/0oqF484MGpxYpk
jZ04cJO3uSIdYbEPBwHptoLM/I1nWCOgn/Vt0osG7/2X70O4g1xi71m3CzWaCGkh
e8HhwpXcY920WZGBB8UIpJECAwEAAQ==
-----END PUBLIC KEY-----"
export JWT_USER_REFRESH_TOKEN_SIGNING_PRIVATE_KEY=01ca20a73a2ca25abbc36cb57a31e027

export OAUTH2_PROVIDER_LINE_CLIENT_ID=2005761043
export OAUTH2_PROVIDER_LINE_CLIENT_SECRET=SetThis
export OAUTH2_PROVIDER_LINE_CLIENT_REDIRECT_URL=http://localhost:8082/authuser/x/callback

export FRONT_BASE_URL=http://localhost:8080

export WEB_PUSH_API_USER_VAPID_PRIVATE_KEY=AQDxuIW8V9dRVC255LaZKr_MvJhfDUb5khQGMA0kqKU
export WEB_PUSH_API_USER_VAPID_PUBLIC_KEY=BGln8IVHdYpjBMJqq1THNAlcYzWZ5pYmCxF-84J0ioKzVSbjTIGiWc1dykxHr39VkNntPOCSDfFch7Qg8UgWiC0
export WEB_PUSH_API_ADMIN_VAPID_PRIVATE_KEY=qSTvv36x3aTrJjNmKvSyh1JvQ0UD4hyAseCr4TYRiE4
export WEB_PUSH_API_ADMIN_VAPID_PUBLIC_KEY=BMMcQBGlLEx0sMHDRhwLGkMSjJO0ZFZA7t2h0kuI9lqV4n-cYQU-DZVP-cUWLa3bW8b6X6ZEP03JO-DkVoReDwk