.container-main {
    position: absolute;
    left: 6px;
    right: 6px;
    top: 6px;
    bottom: 6px;
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

.container-left {
    position: relative;
    overflow: scroll;
}

.container-right {
    position: relative;
    overflow: scroll;
}