
a {
    text-decoration: underline;
}
a:visited {
    text-decoration: underline;
    color: inherit;
}
a:link {
    text-decoration: underline;
    color: inherit;
}
a.disabled {
    opacity: 0.5;
    cursor: inherit;
}

a._link-title:link {
    text-decoration: none;
}
