.pc_article-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6px;
}
.pc_article-date {
    padding: 6px;
}
.pc_article-tag {
    padding-right: 6px;
}
.pc_article-article {
    padding: 6px;
}